$mainPink: #ef7998;
$mainYellow: rgb(249, 228, 148);
$mainWhite: #fff;
$mainBlack: #000;
$yellowTrans: rgba(249, 228, 148, 0.5);
$mainGrey: rgb(238, 238, 238);


body {
    font-family: "Kaushan Script", cursive;
    background: #fff;
    color: #000;
}

#header{
    .navbar{
        .navbar-toggler {
            outline: none !important;
            .toggler-icon {
                font-style: 2.5rem;
                color: $mainPink;
            }
        } 
        .navbar-nav {
            .nav-link {
                color: $mainPink;
                transition: all 1s ease-in-out;
                font-size: 24px;
            }
            .nav-link:hover {
                color: $mainBlack;
            }
        }
    }

    .max-height{
        min-height: calc(100vh - 76px);
        background: url("./static/common/img/headerBcg.jpeg");
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        position: relative;
        .banner{
            color: $mainWhite;
            .banner-title {
                color: $mainPink;
                font-size: 4rem;
                
            }
            .banner-link {
                color: $mainWhite;
                font-size: 1.5rem;
                border: 0.2rem solid $mainBlack;
            }
            .banner-link:hover{
                color: $mainPink;
                background: $mainWhite;
            }
        }
    }

    

}